{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 800px;margin-top: 40px;">
            <div class="card-header" style="width: 800px; padding-bottom: 20px;">
                <table>
                    <tr valign="top">
                        <td style="padding-left: 30px;"><h1>Мероприятие: {{ event.name }}</h1>
                            <div class="d-flex justify-content-center links" style="margin-left: 30px;" color="white">
                                <h3>Организатор:
                                    <a href="{{ url_for('company', id=event.company_id) }}">{{ event.sponsor.name }}</a></h3>
                            </div>
                            <div class="panel-body">
                                <div style="float: right">
                            {% if event.sponsor.agent_id == current_user.id %}
                                <p><a {% if points_available %} href="{{ url_for('score_points', id=event.id) }}" {% else %}
                                      href="{{ url_for('points_awarded', id=event.id) }}" {% endif %} class="btn float-right login_btn">
                                    {% if points_available %}Начислить баллы участникам
                                    {% else %}Посмотреть начисленные баллы {% endif %}</a></p>
                            {% endif %}
                                </div>
                            </div>
                            {% if event.place %} <p>Место проведения: {{ event.place }}</p> {% endif %}
                            {% if event.date_event %} <p>Дата проведения: {{ event.date_event }}</p> {% endif %}
                            {% if event.description %} <p>Описание: {{event.description }} </p> {% endif %}
                            {% if event.b_count %} <p>Баллы за участие: {{ event.b_count }}</p> {% endif %}
                            <div class="d-flex justify-content-center links" style="margin-left: 30px;" color="white">
                                {% if not users %} <p>Пока нет ни одного подписчика</p>
                                {% else %} <p>Подписчики:</p>
                                {% for user in users %}
                                    <p><b><a href="{{ url_for('user', username=user.username) }}"> {{ user.username }}</a></b></p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            {% if len>0 %}
                            <div class="d-flex justify-content-center links" style="margin-left: 30px;" color="white">
                            <p>Другие мероприятия этой организации:</p>
                            {% for e in other_events %}
                                <p><b><a href="{{ url_for('event', id=e.id) }}"> {{ e.name }}</a></b></p>
                            {% endfor %}
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}