{% extends "base.html" %}

@import url('https://fonts.googleapis.com/css?family=Numans');


{% block app_content %}
<h1 style=" color: black; margin-left: 30px;"> Привет, {{ current_user.username }}! Ты можешь участвовать в городских мероприятиях и получать баллы, которые можно обменять на бонусы!</h1>
{% for event in f_events %}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <div class="container">
        <div class="row">
        <div class="card" style =" width: 1150px; height: 330px;">
            <div class="col-md-12" style="margin-bottom: 30px;">
                    <div class="panel-heading">


                        <div><p><b>{{ event.sponsor.name }}</b> проводит мероприятие под названием: <b> {{ event.name }} </b>
                            <p class="p111" style=" color: orange; font-size: 15pt;"><b>{{ event.b_count }} баллов</b></p>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <img src="https://images.unsplash.com/photo-1555881467-9390d4d1cb9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="50" height="200"
                                     alt="Пример 1" class="col-md-4"/>
                                <p>Описание мероприятия</p>
                                <p>Дата проведения:  {{ event.date_event }}</p>
                                {% if not current_user.is_following(event.id) %}
                                <b><a href="subs/{{event.id}}" class="btn float-right login_btn">Подписаться</a></b>
                                    {% endif %}
                                    {% if current_user.is_following(event.id) %}
                                    <b><a href="unsubs/{{event.id}}" class="btn float-right login_btn">Отписаться</a></b></div>
                            {% endif %}
                        </div>
                        </div>
                    </div>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->

    <script>
$(".spoiler-push").click(function() {
$(this).parent().next().collapse('toggle');
});

    </script>
    {% endfor %}
    {% endblock %}