{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 500px; margin-top: 40px;">
            <div class="card-header"
                 style="width: 600px; padding-bottom: 30px; padding-top: 10px; margin-left: 30px;border-top-width: 30px;border-left-width: 30px;height: auto;">
                <h1>Восстановление пароля</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p><input type="submit" value="Отправить письмо на почту" class="btn float-right login_btn"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}